main {
  text-align: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url(../assets/contacto/depositphotos_317114954-stock-photo-closeup-of-nails-in-uv.webp);

  background-position: center 20%;
  background-position-x: center;
  background-position-y: 20%;
  background-size: cover;
}
.form__titulo,
.ubicacion__titulo,
.preguntas__titulo {
  font-size: 2rem;
  color: bisque;
  padding: 2rem 0;
  text-shadow: 1px 1px 2px black;
}
