/*header*/
header {
  background: rgb(175, 95, 107);
  position: sticky;
  top: 0;
  z-index: 2;
}

/* para centrar(margin) 
limite de crecimiento(max-width)*/
.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1320px;
}
.header__logo {
  width: 8%;
  border-radius: 100%;
}

.nav__list {
  list-style: none;
}

.nav__items--li,
.nav__icono--mail {
  color: bisque;
  margin: 0 0 0 1.5rem;
  text-decoration: none;
  text-shadow: 1px 1px 2px black;
}
.nav__icono--mail {
  font-size: 50px;
}

/* primera seccion portada*/
.portada__titulo{
  width: 100%;
  color: bisque;
  text-shadow: 1px 1px 2px black;
  text-align: center;
  font-size: 5rem;
  font-style: oblique;
  position: absolute;
  top: 100%;
}

.portada__img {
  width: 100%;
  height: 500px;
  box-shadow: 1px 1px 5px black;
  top: 40px;
}
/*segunda seccion servicios*/

.service__container {
  background: linear-gradient(
    to bottom,
    rgb(241, 235, 236),
    rgb(238, 173, 178)
  );
}
.service__card{
  width: 25%;
  padding: 20px 0;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  color: rgb(175, 119, 128);
  text-shadow: 1px 1px 2px black;
}

.service__card--img {
  width: 230px;
  height: 230px;
  border-radius: 100%;
  border: 15px solid rgb(209, 136, 148);
}
.service__card--line {
  width: 50px;
  margin: 3rem 0;
  margin-left: 40%;
  font-weight: 800;
  border: 2px solid;
  border-radius: 18%;
  color: rgb(175, 119, 128);
}

/* footer */
footer {
  background: rgb(175, 95, 107);
  padding: 0.5rem 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  font-style: oblique;
  color: bisque;
  text-shadow: 1px 1px 2px black;
}
.icono__redes {
  margin-left: 1rem;
}
.icono__redes, .autor{
  color: bisque;
  text-decoration: none;
}

